<div class="w-full h-auto mt-20 mb-8 p-6 m-auto bg-white rounded-md shadow-md dark:bg-gray-400">
  <h1 class="text-3xl font-semibold text-center text-gray-700 dark:text-white">Hello, <%=current_user.first_name %></h1>
  <div class="h-full w-full content-center">
    <dl>
      <dt><h3>First Name</h3></dt>
      <%= current_user.first_name %>
      <br/><br/>
      <dt><h3>Last Name</h3></dt>
      <%= current_user.last_name %>
      <br/><br/>
      <dt><h3>Email</h3></dt>
      <%= current_user.email %>
    </dl>
  </div>
</div>
